### Variables en Python
* Nombres de Variables 
* Operadores Matematicos 
* Ingreso de Datos
* Mostrar Datos al Usuario

In [4]:
# suma
23+45

68

In [5]:
# resta
34-45

-11

In [6]:
# multiplicacion 
65*48

3120

In [7]:
# division 
45/8

5.625

In [9]:
# trabajo con variables 
number_1 = 12
number_1

12

In [10]:
number.2 = 23

SyntaxError: invalid syntax (1619670238.py, line 1)

In [11]:
number-one = 23

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2351799057.py, line 1)

In [12]:
first name = "july"

SyntaxError: invalid syntax (2964913166.py, line 1)

In [13]:
FirstName = "autum"

In [14]:
firstname = "summer"

In [15]:
first_name = "Winter"

In [18]:
number_2 = 20
#sumar dos numeros 
total = number_1 + number_2 

print(total)

32

In [19]:
print(f"el resultado es total {total}")

el resultado es total 32

In [23]:
number_1 = input("Ingrese numero 1:")
number_1 = int(number_1)

number_2 = float(input("numero 2:"))

total_2 = number_1 + number_2

print(total_2)

89.3

### Operadores de comparacion 
* ">" mayor que 
* "<" 
* ">="
* "<=" 
*  "=="
* "!="

In [25]:
3 > 5

False

In [26]:
1 < 2

True

In [27]:
"july" == "maria"

False

In [28]:
number_1 != number_2

True

In [31]:
# condicionales
week_day = input("Day:")
if week_day == "domingo":
    print("voy a la playa")
else:
    print("no es domingo")

no es domingo

In [34]:
dia = input("Introduce un día de la semana (1-7): ")

if dia == "1":
    print("Lunes")
elif dia == "2":
    print("Martes")
elif dia == "3":
    print("Miércoles")
elif dia == "4":
    print("Jueves")
elif dia == "5":
    print("Viernes")
elif dia == "6":
    print("Sábado")
elif dia == "7":
    print("Domingo")
else:
    print("ManguitoMango")

ManguitoMango

In [37]:
# condicionales anidados 
dia = input("Introduce un día de la semana (1-7): ")
hora = input("Hora estimada: ")
if dia == "1":
    print("Lunes")
    if hora == "manana":
        print("Lunes en la manana")
    elif hora == "tarde":
        print("Lunes en la tarde")
    elif hora == "noche":
        print("lunes en la noche")
    else:
        print("cositas")
elif dia == "2":
    print("Martes")
elif dia == "3":
    print("Miércoles")
elif dia == "4":
    print("Jueves")
elif dia == "5":
    print("Viernes")
elif dia == "6":
    print("Sábado")
elif dia == "7":
    print("Domingo")
else:
    print("ManguitoMango")

Lunes
Lunes en la manana

In [ ]:
#listas 
[1, 3, 4, 6, 9]

In [38]:
["lunes", "martes","miercoles"]

['lunes', 'martes', 'miercoles']

In [44]:
number_list = [1, 3, 4, 6, 9]
number_list[4]
number_list[-1]

9

In [46]:
#start:stop
number_list[:2]

[1, 3]

In [48]:
# start:stop:step
number_list[0:3:2]

[1, 4]

In [51]:
#ciclos
number_list = [1, 3, 4, 6, 9]
for variable in number_list:
    if variable == "3":
        print(f"numero: {number_list[4]}")
    else:
        print(f"numero es {variable}")

numero es 1
numero es 3
numero es 4
numero es 6
numero es 9

In [52]:
for value in range(5):
    print(value)

0
1
2
3
4

In [54]:
for value in range(1,8,2):
    print(value)

1
3
5
7